<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<body>
    <div class="button">
        <div class="flex flex-col items-center justify-center p-3 gap-10 font-serif w-69 h-26">
            <button class="hover:text-red-600 rounded-md px-10 py-3 w-49 bg-green-500 text-white">Success</button>
            <button class="hover:text-red-600 rounded-md px-10 py-3 bg-transparent border-2 text-green-600 border-green-600">Success</button>
            <button class="hover:text-red-600 px-10 py-3 bg-green-500 rounded-3xl text-white">Success</button>
            <button class="hover:text-red-600 px-10 py-3 bg-transparent rounded-3xl border-2 border-green-500 text-green-500">Success</button>
            <button class="hover:text-red-600 px-10 py-3 bg-green-100 rounded-md text-green-600">Success</button>
            <button class="hover:text-red-600 px-10 py-3 bg-green-100 rounded-3xl text-green-600 ">Success</button>
        </div>
    </div>
</body>
</html>