<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>pagination</title>
</head>
<body>
    <div class="font-sans w-100% h-100% gap-8 p-4 flex items-center justify-center border-2 border-blue-300 rounded-md">
        <bottom class="gap-6 hover:bg-blue-500 hover:text-white hover:transition text-gray-500 rounded-xl w-34 h-34 p-6 border-2 border-stone-100"><</bottom>
        <bottom class="gap-6 hover:bg-blue-500 hover:text-white hover:transition text-gray-500 rounded-xl w-34 h-34 p-6 border-2 border-stone-100">1</bottom>
        <bottom class="gap-6 hover:bg-blue-500 hover:text-white hover:transition text-gray-500 rounded-xl w-34 h-34 p-6 border-2 border-stone-100">2</bottom>
        <bottom class="gap-6 hover:bg-blue-500 hover:text-white hover:transition text-gray-500 rounded-xl w-34 h-34 p-6 border-2 border-stone-100">3</bottom>
        <bottom class="gap-6 hover:bg-blue-500 hover:text-white hover:transition text-gray-500 rounded-xl w-34 h-34 p-6 border-2 border-stone-100">4</bottom>
        <bottom class="gap-6 hover:bg-blue-500 hover:text-white hover:transition text-gray-500 rounded-xl w-34 h-34 p-6 border-2 border-stone-100">></bottom>
    </div>
</body>
</html>